      
  
body{
    font-family:sans-serif;
}
.conteneur {
    width: 100%;
    border-bottom: solid 2px lightgray;
    overflow: hidden;
}
.custom-page{
    margin-bottom: 0;
}
.custom-header{
    margin-bottom: 0;
}
.iconI {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9px;
}
.heart{
    width: 30px;
    height: 30px;
    display: flex;
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    border: solid thin lightgray;
    border-radius: 70px;
}


.nom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nom h6{
    text-align: left;
    color: #287aa9;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 700;
}
h5{
    font-size: 22px;
    font-weight: 700;
    color: #287aa9;
}

img {
    width: 160px;
    height: 115px;
    margin-left: 20px;
}
.info{
    display: flex;
}
.donne{
    margin: 0;
    margin-top: -15px;
    margin-left: -25px;
}
.donne label {
    display: block;
    margin-bottom: 8px;
}
.tauxemiss{
    display: flex;
    margin-left: 20px;
}
.detail{
    color: white;
    background-color:#287aa9 ;
    border-radius: 5px;
    height: 25px;
    width: 100px;
    margin-left: 20px;
    margin-bottom: 10px;
}
.prix {
    text-align: right;
    margin-right: 20px;
}
.prix h5, .prix h6 {
    margin: 0; 
    margin-bottom: 5px;
}
.prix h6{
    color: #565656;;
    font-size: 11px;
}
li{
    color: #333;
    margin-bottom: 5px;
    text-align: left;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
}
p{
    color: #565656;;
    margin: 0;
    margin-bottom: 20px;
    margin-top: -2px;
    font-size: 11px;
    box-sizing: border-box; 
}
